<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <form class="form-horizontal">
        <fieldset>

          <!-- Form Name -->
          <legend>Update Patient</legend>

          <h3 ng-if="$ctrl.isSuccess">Updated successfully!</h3>
          <br/>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">First Name</label>
            <div class="col-md-4">
              <input type="text" ng-require ng-model="$ctrl.patient.firstName" ng-bind="$ctrl.patient.firstName" placeholder="First Name"
                     class="form-control input-md">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">Last Name</label>
            <div class="col-md-4">
              <input type="text" ng-model="$ctrl.patient.lastName" ng-bind="$ctrl.patient.lastName" placeholder="Last Name"
                     class="form-control input-md">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">Date of Birth</label>
            <div class="col-md-4">
              <input type="text" ng-model="$ctrl.patient.dateOfBirth" ng-bind="$ctrl.patient.dateOfBirth" placeholder="E.g. 1988-02-02"
                     class="form-control input-md">
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
              <button class="btn btn-primary" ng-click="$ctrl.updatePatient()">Update</button>
              <span><a class="btn btn-primary" href="#!/patients">Back</a></span>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
    <div class="col-md-4"></div>


  </div>
</div>