<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">

            <h1>{{$ctrl.patient.firstName}} {{$ctrl.patient.lastName}} </h1>
            <!--input type="button" ng-click="$ctrl.deletePatient()" value="Delete" /-->

            <p>
                Date of Birth: {{$ctrl.patient.dateOfBirth | date : "longDate"}}
            </p>

            <h3>Add new note</h3>

            <textarea class="form-control" rows="3" ng-model="$ctrl.newNote" ng-required></textarea><br/>
            <input type="button" class="btn btn-primary" ng-click="$ctrl.addNote()" value="Add Note"/>
            <span><a class="btn btn-primary" href="#!/patients">Back</a></span>

            <br/><br/>

            <div class="table-responsive text-center">
                <table class="table table-striped table-borderless">

                    <tr ng-repeat="note in $ctrl.patient.notes track by note.id">
                        <td> {{note.note}}</a></td>
                        <td>
                            <i ng-click="$ctrl.removeNote(note.id)" class="fa fa-trash-o fa-2x"
                                            aria-hidden="true"></i></td>
                    </tr>
                </table>
            </div>


        </div>
        <div class="col-md-3">


        </div>
    </div>
</div>