<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <form name="patientForm" ng-submit="$ctrl.submitForm(userForm.$valid)" class="form-horizontal" novalidate>
                <fieldset>

                    <!-- Form Name -->
                    <legend>Add New Patient</legend>

                    <h3 ng-if="$ctrl.isSuccess">Patient added successfully</h3>
                    <br/>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">First Name</label>
                        <div class="col-md-4">
                            <input type="text" ng-require ng-model="$ctrl.patient.firstName" placeholder="First Name"
                                   class="form-control input-md" required>
                        </div>

                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Last Name</label>
                        <div class="col-md-4">
                            <input type="text" ng-model="$ctrl.patient.lastName" placeholder="Last Name"
                                   class="form-control input-md" required>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Date of Birth</label>
                        <div class="col-md-4">
                            <input type="date" ng-model="$ctrl.patient.dateOfBirth" value="1991-01-08"
                                   class="form-control input-md" required>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4">
                            <button class="btn btn-primary" type="submit" ng-click="$ctrl.createPatient()">Add Patient</button>
                            <span><a class="btn btn-primary" href="#!/patients">Back</a></span>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
        <div class="col-md-4"></div>


    </div>
</div>