<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <!--Body content-->

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <form class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" ng-model="$ctrl.queryName" class="form-control"
                                       placeholder="Search by name">
                                Sort By:
                                <select ng-model="$ctrl.orderProp" class="form-control">
                                    <option value="lastName">Last name</option>
                                    <option value="dateOfBirth">Date of Birth</option>
                                </select>
                                Date from:
                                <input type="date" ng-model="$ctrl.dobFrom" class="form-control">
                                Date to:
                                <input type="date" ng-model="$ctrl.dobTo" class="form-control">
                            </div>
                        </form>

                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <br/>

            <!--<div class="row text-center">
                <span class="label label-primary" style="font-size: 14px;"><a style="color:#fff;"
                                                                              href="#!/patients/new">Create New</a></span>
            </div>-->


            <div class="row text-center">
                <a href="#!/patients/new" class="btn btn-primary">Create New Patient</a>
            </div>

            <br/><br/>

            <div class="table-responsive text-center">
                <table class="table table-striped table-borderless">

                    <tr ng-repeat="patient in $ctrl.getFilteredAndSortedPatients()">
                        <td><span>{{patient.firstName}} {{patient.lastName}}</span>
                        </td>
                        <td>{{patient.dateOfBirth | date: 'longDate'}}</td>
                        <td><a href="#!/patients/{{patient.id}}"><i class="fa fa-eye fa-2x" aria-hidden="true"></i></a>
                        </td>
                        <td><a href="#!/patients/edit/{{patient.id}}"><i class="fa fa-pencil-square-o fa-2x"
                                                                         aria-hidden="true"></i></a>
                        </td>
                        <td>

                            <a href="#"> <i ng-click="$ctrl.deletePatientById(patient.id)" class="fa fa-trash-o fa-2x"
                               aria-hidden="true"></i></a></td>
                    </tr>
                </table>
            </div>


        </div>
    </div>
    <div class="col-md-2">


    </div>
</div>